<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="theme-script.js"></script>
	<link id="icon" rel="icon" type="image/png" href="#">
	<link rel="stylesheet" href="static/mvp/mvp.css">
	<link id="theme-style" rel="stylesheet" href="#">
	<link rel="stylesheet" href="static/style-common.css">
	<title>{{ page.name_title }}</title>
</head>

<body>
<header>
	<nav>
		<ul>
			{% for p in site.pages %}
				{% if p.url == page.url and page.name_title != "Home"%}
					<li>{{ p.name_navbar }}</li>
				{% else %}
					<li><a href="{{ p.url }}">{{ p.name_navbar }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>


<main>
	{% include toggle.html %}
	{{ content }}
</main>
</body>
</html>

